# Puppet Community Trusted Contributors

The following GitHub users have outside collaborator status on one or more
repositories, which means that the user has Trusted Contributor status,

Are you interested in participating in the program?
[Read more or apply here](https://www.puppet.com/ecosystem/contribute/trusted-contributors).

<% collaborators.each do |name, repos| -%>
<details>
<summary><strong><a href="https://github.com/<%= name %>"><%= name %></a></strong></summary>

<% repos.each do |repo| -%>
* [<%= repo.name %>](<%= repo[:html_url] %>)
<% end -%>

</details>
<% end -%>
